DATABASE_URL="mysql://innoentr_admin:Password@123@localhost:3307/test"


FILE_SERVER=oss

# minio
# MINIO_BUCKET=xx
# MINIO_ENDPOINT=xx
# MINIO_ACCESS=xx
# MINIO_SECRET=xx

# oss
OSS_BUCKET=xx
OSS_REGION=xx
OSS_ACCESS_KEY=xx
OSS_SECRET=xx
# 生成sts token
ALI_ARN=xx
